form:not(.inline) {
    width: 100%;
    margin: auto;
    max-width: 500px;
    border: 3px solid;
    background: #d5cfcb;
    padding: 2px;
    display: grid;
    gap: 5px;
    justify-items: center;
}

label {
    font-family: 'Titillium Web';
    font-size: 1.2em;
    font-weight: bolder;
    color: var(--label-color);

    display: grid;
    /* gap: 1px; */
}

form input,
form textarea,
form select,
form button {
    width: 100%;
    font-size: 1.2em;
    padding: 2px;
}

form input,
form select {
    height: 40px;
}

.big-guy {
    width: 100%;
}

.lil-guy {
    height: 20px;
    width: 20px;
}

.banner {
    display: inline-flex;
    justify-content: space-between;
    height: 30px;
    background-image: linear-gradient(to right, darkblue, skyblue);
    color: azure;
    align-items: center;
    width: 100%;
}
.X-button {
    width: 45px;
    height: 25px;
    background-color: #d5cfcb;
    color: black;
    box-shadow: 2px 2px black;
    margin: 4px;
    margin-bottom: 5px;
    padding: 0px;
    border: 0;
    padding-top: 1px;
    justify-self: flex-end;
}

.preview {
    height: 75px;
    width: 75px;
}

.image-select {
    display: inline-flex;
}
form input[type='file'] {
    padding: 0;
}

form select:invalid,
form *::placeholder {
    color: var(--placeholder-color);
}

form textarea {
    height: 70px;
    padding: 5px;
    font-family: 'Rubik';
    resize: vertical;
}

form button {
    margin-top: 5px;
    height: 45px;
    background: #3590db;
    border: 2px groove rgb(43, 83, 129);
    font-weight: bold;
    color: white;
    max-width: fit-content;
    justify-self: center;
}

form button:hover {
    transform: scale(102%);
    transition: all 100ms ease-in;
    box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.39);
}

form button:disabled {
    opacity: 0.5;
}

/* #sign-on-icon {
    
} */
