ul {
    display: grid;
    grid-template: repeat(auto-fill, minmax(100px, 1fr)) / repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-flow: row;
    gap: 5px;
    justify-items: center;
    align-items: center;
}

.room-item {
    display: grid;
    height: 100px;
    width: 200px;
    border: 1px solid black;
    align-items: center;
    justify-items: center;
}

.room-item h3 {
    margin: 0;
}

.room-item span {
    margin: 0;
}

.description-image-container {
    display: grid;
    grid-template-columns: 150px 50px;
}

.room-item img {
    width: 100%;
    padding: 5px;
}

.room-item p {
    margin: 0;
    padding: 5px;
}
